/* Home page Styles */
.decor-img{
    z-index: -1;
}
.decor-img1{
    bottom:80px;
    right: 25%;
}
.decor-img2{
    bottom: 20px;
    left: 18%;
    z-index: 0;
    transform: rotate(-8deg);
}
.balloon-decor{
    width: 100px !important;
    top: 10px;
    left:30px;
}
.balloon-decor:hover{
    transition-duration: 3000;
    scale: 1.7;
    transform: rotate(-25deg);
}
.plane-decor{
    width: 900px !important;
    height: auto;
    z-index: -1;
}

/* subscribe newsletter Compo styles */

.subscribe-div{
    border-radius: 80px;
    background-color: rgb(244, 246, 248);
}
.subscribe-input{
    outline: none;
}
.subscribe-input:focus{
    border:rgb(108, 0, 216) 2px solid;
}

.subscribe-btn{
    right:5%;
}

@media screen and (max-width:950px) {
    .subscribe-div{
        border-radius: 20px;
    }
}
/* footer styles */
.footer-bg{
    background-color: rgb(224, 237, 255);
}

/* search field */

.input-fields:focus{
    outline: 0;
}

.search-field-div{
    border-radius: 100px;
}

@media screen and (max-width:1000px) {
    .search-field-div{
        border-radius: 50px;
    }
    .search-field-div>div{
        border: none !important;
    }
}


/* Navbar stylings */
.cross-btn{
    top:20px;
    right: 25px;
}
.navbar-mobile{
    z-index:1;
}
.link{
    color: black;
}
.link:hover{
    color: orangered;
}

/* Destination Page Styles */
.destination-balloon-decor{
    top: 100px;
    left: 100px;
}
.destination-page-decorImg{
    width:50%;
    max-width: 500px;
    min-width: 350px;
}

@media screen and (max-width:600px) {
    .destination-page-decorImg{
        margin-right: -50px;
    }
}

/* offers page */
.offer-text{
    bottom:10px ;
    right: 10px;
    font-size: 13px !important;
    padding: 5px 12px !important
}
.offer-text:hover{
    background-color: orangered !important;
}

.counter-card{
    min-width: 200px;
}


/* login page styles */

.sign-btn:hover{
    border-color: orangered !important;
}