li{
    list-style: none;
    cursor: pointer;
}
li:hover{
    color: orangered ;
}
.fs-20{
    font-size: 20px;
}
.btn-oranged{
    background-color: orangered;
}
.white-bg:hover{
    box-shadow: rgb(202, 202, 202) 3px 0 10px 8px;
}
.text-orange{
    color: orangered;
}
.br-20{
    border-radius: 20px;
}
.h-fit{
    height: fit-content;
}
.w-fit{
    width: fit-content;
}
.m-auto{
    margin: 0 auto;
}
.cur-pointer{
    cursor: pointer;
}
