li {
    list-style: none;
    cursor: pointer;
    font-size: 19px !important;
}

li:hover {
    color: orangered;
}

.link {
    color: black;
    text-decoration: none;
}

.fs-20 {
    font-size: 20px;
}

.myBtn:hover {
    background-color: rgb(96, 210, 255);
    color: orangered !important;
}

.btn-oranged {
    background-color: orangered;
}

.white-bg {
    transition: box-shadow .2s ease-in;
}

.white-bg:hover {
    box-shadow: rgb(202, 202, 202) 3px 0 10px 8px;
}

.text-orange {
    color: orangered;
}

.br-20 {
    border-radius: 20px;
}

.h-fit {
    height: fit-content;
}

.w-fit {
    width: fit-content;
}

.m-auto {
    margin: 0 auto;
}

.cur-pointer {
    cursor: pointer;
}

.pb-20 {
    padding-bottom: 70px;
}

.card {
    min-width: 280px;
}

.offer-title {
    transition: color 0.25s ease-;
}

.card-hover {
    transition: scale .6s ease-in;
}

.card-hover:hover {
    scale: 1.1;
}

.card-hover:hover .offer-title {
    color: orangered;
}